*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    transition: 200ms;
    box-sizing: border-box;
    color: rgb(32, 32, 32);
}

html{
    font-size: 16px;
}

.body{
   
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
    opacity: 0.8;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
    opacity: .8;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
 
}


nav ul li:hover{
    border-bottom: 2px solid red;
    opacity: 1;
}

.pdf{
    background-color: red;
    color:white;
    padding: 10px;
    border-radius: 5px; 
}

.pdf:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
}

.logo{
    margin: 20px;
    font-size: 1.2rem;   
}

.second-color{
    color: red;
}

.container-welcome{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 90vh;
    text-align: center;
}


.container-welcome-name{
    font-size: 3em;
    font-weight: 300;
}

.container-welcome-tech{
    font-size: 2.2em;
    font-weight: 600;
}

.stack-container{
    display: flex;
    list-style: none;
    gap: 8px; 
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
}

.stack-item{
    color: rgb(158, 156, 156);
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}



.container-about-me{
    width: 95w;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#d1caca;
}

.container-about-me h2, .container-projects-h2{
    padding: 30px 0px 30px;
    color: red;
}

.container-about-me p{
    width: 70vw;
    padding: 10px;
    font-size: 1rem;
    color: rgb(32, 32, 32);
    text-indent: 20px;
}

.container-projects{
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-projects-item-title{
    color: red;
}

.container-projects img{
    margin-top: 40px;
    width: 400x;
    height: 320px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   
}

.container-projects img:hover{
    transform: scale(1.1);
}


@media(max-width: 625px) {
    html {
     font-size: 12px;
    }

    nav{
        display: none; 
    }

    .container-projects img{
        width: 300px;
        height: 150px;
    }
}

.container-projects-button-item-code {
    border: 1px solid red;
    border-radius: 5px;
    width: 62px;
    height: 36px;
   
}

.container-projects-button-item-code:hover {
    border: 1px solid red;
    border-radius: 5px;
    width: 62px;
    height: 36px;
    background-color: red;
    color: white;
    transform: scale(.9);
}

.container-projects-button-item-view {
    background-color: red;
    width: 62px;
    height: 36px;
    border-radius: 5px;
    border: none;
    color: white;
}

.container-projects-button-item-view:hover {
    opacity: 1;
    color: rgb(32, 32, 32);
    background-color: white;
    border: 1px solid red;
    transform: scale(.9);
}

footer{
    display: flex;
    margin-top: 50px;
    background-color:  red;
    width: 100vw;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
}

.container-contacts{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;


}

.container-contacts p, .container-social p{
    color: white;
    margin-bottom: 15px;
}

.container-contacts label{
    color: white;
    font-weight: 300;
}

.container-contacts form{
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 10px;
}

.container-social{
    display: flex;
    gap: 10px;
}

.container-social ul{
    display: flex;
    gap: 10px;
    list-style: none;

}

.social-item:hover{
    transform: scale(.9);
}